@page "/"

<PageTitle>Devil's Gorge</PageTitle>

<div class="grass-field">
    <div class="grass-texture"></div>
    <div class="grass-patches"></div>

    @* Grass blade clusters *@
    <div class="grass-cluster cluster-1">
        <div class="blade"></div>
        <div class="blade"></div>
        <div class="blade"></div>
    </div>
    <div class="grass-cluster cluster-2">
        <div class="blade"></div>
        <div class="blade"></div>
        <div class="blade"></div>
    </div>
    <div class="grass-cluster cluster-3">
        <div class="blade"></div>
        <div class="blade"></div>
        <div class="blade"></div>
    </div>
    <div class="grass-cluster cluster-4">
        <div class="blade"></div>
        <div class="blade"></div>
        <div class="blade"></div>
    </div>
    <div class="grass-cluster cluster-5">
        <div class="blade"></div>
        <div class="blade"></div>
        <div class="blade"></div>
    </div>
    <div class="grass-cluster cluster-6">
        <div class="blade"></div>
        <div class="blade"></div>
        <div class="blade"></div>
    </div>
    <div class="grass-cluster cluster-7">
        <div class="blade"></div>
        <div class="blade"></div>
        <div class="blade"></div>
    </div>
    <div class="grass-cluster cluster-8">
        <div class="blade"></div>
        <div class="blade"></div>
        <div class="blade"></div>
    </div>

    @* Wildflowers and daisies *@
    <div class="flower daisy flower-1"></div>
    <div class="flower daisy flower-2"></div>
    <div class="flower daisy flower-3"></div>
    <div class="flower daisy flower-4"></div>
    <div class="flower daisy flower-5"></div>
    <div class="flower wildflower flower-6"></div>
    <div class="flower wildflower flower-7"></div>
    <div class="flower wildflower flower-8"></div>
    <div class="flower dandelion flower-9"></div>
    <div class="flower dandelion flower-10"></div>
    <div class="flower clover flower-11"></div>
    <div class="flower clover flower-12"></div>
    <div class="flower clover flower-13"></div>
</div>
